.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed #e2e2e2;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.card img {
  width: 50px;
  height: 50px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions span {
  width: 20px;
  text-align: center;
  margin: 0 2px;
}

.actions button {
  background-color: #fe5d42;
  color: #fff;
  border: none;
  font-size: 1.7rem;
  height: 32px;
  width: 32px;
  line-height: 32px;
  padding: 2px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(254, 93, 66, 0.3);
}

.actions button:hover {
  background-color: #e04830;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(254, 93, 66, 0.4);
}
