:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: auto;
  padding: 10px;
  max-width: 1200px;
  min-height: 100vh;
  background-color: #f9fafc;
}
