.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fe5d42;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px 60px;
  border-radius: 10px;
}

.header a {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.header a:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(254, 93, 66, 0.4);
}

.header div {
  font-size: 1.6rem;
  background-color: #fff;
  text-align: center;
  color: #fe5d42;
  height: 35px;
  width: 35px;
  border-radius: 9px;
  padding: 2px;
  position: relative;
}

.header span {
  font-size: 0.9rem;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

.footer {
  text-align: center;
  background-color: #fe5d42;
  padding: 20px;
  margin: 10px;
  margin-top: 80px;
  color: #fff;
  border-radius: 10px;
}

.footer a {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer a:hover {
  font-size: 1.5rem;
  padding: 0 10px;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(254, 93, 66, 0.4);
}
